/* reduce url bar height */

toolbaritem#urlbar-container.chromeclass-location {
  --urlbar-container-height: 28px !important;
}

toolbaritem#urlbar-container.chromeclass-location hbox#urlbar {
  --urlbar-height: 28px !important;
  --urlbar-toolbar-height: 28px !important;
}

#urlbar,
#searchbar {
  min-height: 0 !important;
}

:root {
  --toolbar-field-background-color: var(--lwt-frame) !important;
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar {
  flex-grow: 0 !important;
}
