/* rounded corner + gap like arc browser */

html#main-window body hbox#browser {
  background: var(--lwt-frame) !important;
}

html#main-window body hbox#browser vbox#appcontent {
  margin: 0 8px 8px 0 !important;
  overflow: hidden !important;
}

html#main-window body hbox#browser vbox#appcontent tabbox#tabbrowser-tabbox {
  border-radius: 8px !important;
}

html#main-window
  body
  hbox#browser
  vbox#appcontent
  tabbox#tabbrowser-tabbox
  tabpanels#tabbrowser-tabpanels
  hbox.browserSidebarContainer.deck-selected
  vbox.browserContainer
  stack.browserStack
  browser {
  border-radius: 8px !important;
  outline: 4px solid var(--lwt-frame) !important;
}

html#main-window
  body
  hbox#browser
  vbox#appcontent
  tabbox#tabbrowser-tabbox
  tabpanels#tabbrowser-tabpanels
  hbox.browserSidebarContainer.deck-selected {
  border-radius: 8px !important;
}

.devtools-toolbox-side-iframe {
  z-index: 1 !important;
}
